{% extends 'foodbookapp/base.html' %}
{% load staticfiles %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static "css/aboutstyle.css" %}">
{% endblock %}


{% block title_block %}
About
{% endblock %}


{% block body_block %}
    <div class = "title">
		About FoodBook
	</div>

    <div class = "text">
        Welcome to FoodBook! FoodBook collects and displays recipes in the recently popularised and easy-to-follow video and gif formats. Appealing to chefs and foodies throughout the world, we provide accessible recipes from a variety of cultures. You can search and browse recipes, tag, favourite, comment on and rate recipes, and even contribute your own recipes to our site by registering and signing in.
        <br>
        <br>
        Created by Salman Mohammadi, Matus Mikus, Jimmy Tang and Laura Moreby.
        <br>
        <br>


		<div id="teamphotos">

			<table align="center">
				<tr>
					<td>
                        <img id="salman" src="{% static "images/salman.png" %}" alt="Salman"/>
					</td>
					<td>
						<img id="matus" src="{% static "images/matus.png" %}" alt="Matus"/>
					</td>
					<td>
						<img id="jimmy" src="{% static "images/jimmy.png" %}" alt="Jimmy"/>
					</td>
					<td>
						<img id="laura" src="{% static "images/laura.png" %}" alt="Laura"/>
					</td>
				</tr>
				<tr>
					<td> Salman </td>
					<td> Matus </td>
					<td> Jimmy </td>
					<td> Laura </td>
				</tr>
			</table>
        </div>
    </div>
{% endblock %}


