{% extends 'foodbookapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Submit Your Own Recipe!
{% endblock %}


{% block body_block %}
	{% if user.is_authenticated %}
		<h1>Add a new Recipe.</h1>
		<div>
			<form id = "recipe_form" method = "post" action = "{% url 'add_recipe'%}">
				{% csrf_token %}
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				<!-- table done by: Jimmy Tang, 2301714t@student.gla.ac.uk -->
				<table>
					{% for field in form.visible_fields %}
						<tr>
							{{ field.errors }}
							<th>
								{{ field.help_text }}
							</th>
							<th>
								{{ field }}
							</th>
						</tr>
					{% endfor %}
				</table>
				<input type = "submit" name = "submit" value = "create recipe" />
			</form>
		</div>
	{% else%}
		<h1>Not registered</h1>
		<div>
			Sorry! You must be a user to add a recipe. <a href="{% url 'register' %}">Sign Up here!</a>
		</div>
	{%endif%}
{% endblock %}