<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<title>
			{% block title_block %}
				FoodBook 
			{% endblock %}
		</title>

		{% block css_block %}
		{% endblock %}
		
		<link rel="stylesheet" type="text/css" href="{% static "css/basestyle.css" %}">
		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
		<script src="{% static "js/foodbook-jquery.js" %}"></script>

	</head>

	<body>
		<div class = "logo">
			<img src="{% static "images/logo.png" %}"/>
		</div>
		<div class = "center">
			{% block body_block %}
				This is body_block's default content.
			{% endblock %}
		</div>
		<div>
			<div class = "sidebar">
			  <a href="javascript:void(0)"} class="dropbutton">Index</a>
			  <div class = "dropdown-content">
			      <a href="#">Link 1</a>
			      <a href="#">Link 2</a>
			      <a href="#">Link 3</a>
		      </div>
			</div>
		</div>
	</body>

</html>