{% extends 'foodbookapp/base.html' %}
{% load foodbookapp_template_tags %}
{% load staticfiles %}

{% block title_block %}
	FoodBook: Trending Recipes
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static "css/imagestyle.css" %}">
{% endblock %}

{% block body_block %}
	{% if recipes %}
		<ul>
			{% for recipe in recipes %}

			<div class = "img"  >
				<a href="{% url 'show_recipe' recipe.slug %}">
				<img data-toggle="popover" title="{{recipe.title}}" content = "none" class = "thumb" src="{% get_thumbnail recipe %}">
				</a>
			</div>
			{% endfor %}
		</ul>
		{% else %}
			<strong>
				{% if error_messages %}
					{{error_messages}}
				{% else %}
					No recipes present.
				{% endif %}
			</strong>
		{% endif %}
{% endblock %}

