{% extends 'foodbookapp/base.html' %}
{% load foodbookapp_template_tags %}
{% load staticfiles %}

{% block title_block %}
	foodbook: Trending Recipes
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static "css/imagestyle.css" %}">
{% endblock %}

{% block body_block %}
	{% if recipes %}
		<ul>
			{% for recipe in recipes %}
			<div class = "img">
				<a href="{% url 'show_recipe' recipe.slug %}">
				<img class = "recipe" src="#">
				</a>
				<p id = "recipeThumb" style = "display:none;">{% get_thumbnail recipe %}</p>
				<p id = "recipeGif" style = "display:none;">recipe.pictureLink</p>

			</div>
			{% endfor %}
		</ul>
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}
{% endblock %}

