{% extends 'foodbookapp/base.html' %}
{% load foodbookapp_template_tags %}
{% load staticfiles %}

{% block title_block %}
	FoodBook: Trending Recipes
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static "css/imagestyle.css" %}">
{% endblock %}

{% block body_block %}
	{% if recipes %}
		<ul>
			<table class = "img">
				{% for recipe in recipes %}
					<tr>
						<a href="{% url 'show_recipe' recipe.slug %}">
							<img class = "thumb" onmouseoff="playStatic()" src="{% get_thumbnail recipe %}">
							<img class = "gif" onmouseover="playGif()" src="{{recipe.pictureLink}}">
						</a>
					</tr>
				{% endfor %}
			</table>
			<script>
				var x = document.getElementsByClassName("thumb");
				var y = document.getElementsByClassName("gif");
				playStatic(){
					x.style.display = "inline";
					y.style.display = "none";
				}
				playGif(){
					x.style.display = "none";
					y.style.display = "inline";
				}
			</script>
		</ul>
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}
{% endblock %}

