{% extends 'foodbookapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
	foodbook: Trending Recipes
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static "css/imagestyle.css" %}">
{% endblock %}

{% block body_block %}
	<h1>The Index Page</h1>
		{% if recipes %}
		<ul>
			{% for recipe in recipes %}
			<div class = "img">
				<img src="{{ recipe.pictureLink }}">
			</div>
			{% endfor %}
		</ul>
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}
{% endblock %}

