{% extends 'foodbookapp/base.html' %}
{% load staticfiles %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static "css/loginAndSignupStyle.css" %}">
{% endblock %}


{% block body_block %}
	<div class = "border">
	<div class = "title">
		Log in here!
	</div>
	{% for message in messages %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
			Error: {{message}}
		{% endif %}
	{% endfor %}
	<form id="login_form" method="post" action="{% url 'login' %}">
	{% csrf_token %}
	Username: <input type="text" name="username" value="" size="50" />
	<br />
	Password: <input type="password" name="password" value="" size="50" />
	<br />
	<input type="submit" value="submit" />
	</form>
	<br>
	</div>
{% endblock %}

