{% extends 'foodbookapp/base.html' %}
{% load staticfiles %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}">
{% endblock %}
	
{% block title_block %}
	Profile
{% endblock %}

{% block body_block %}
	{% if user.is_authenticated %}
		<h1 class="profileintro">{{ user.username }}'s Profile</br></h1>
		<br>
		<div class = "userpic">
		{% if user.userprofile.picture %}
			<img src="{{MEDIA_URL}}{{user.userprofile.picture}}" height="300" width="300"/>
		{% else %}
			<img src="{% static "images/default.png" %}" height="300" width="300"/>
		{% endif %}
		</div>
		{% if recipes %}
			<h2> My Recipes </h2>
			{% for recipe in recipes %}
				<a href="{% url 'show_recipe' recipe_slug=recipe.slug %}">{{recipe.title}}</a>
				<br>
			{% endfor %}
		{% endif %}
		<br>
		<br>
		{% if comments %}
			<h2> My Comments</h2>
			{% for comment in comments %}
				<div class = "comments"><b>{{comment.body}}</b> on <a href="{% url 'show_recipe' recipe_slug=comment.recipe.slug %}">{{ comment.recipe.title }}</a></div>
				<br>
			{% endfor %}
		{% endif %}
	{% else %}
		<h1 class="profileintro">You're not logged in. </h1>
		<a href="{% url 'home' %}">Click here</a> to go back to the indexpage
	{% endif %}
	
{% endblock %}
