{% extends 'foodbookapp/base.html' %}
{% load staticfiles %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}">
{% endblock %}
	
{% block title_block %}
	Profile
{% endblock %}
	
{% block body_block %}
	{% if user.is_authenticated %}
		<h1 class="profileintro">{{ user.username }}'s Profile</br></h1>
		{% if user.userprofile.picture %}
		<img src="{{MEDIA_URL}}{{user.userprofile.picture}}"/>
		{% else %}
			<img src="{% static "images/default.png" %}">
		{% endif %}
		{% if recipes %}
			<h2> My Recipes </h2>
			{% for recipe in recipes %}
				<a href="{% url 'show_recipe' recipe_slug=recipe.slug %}">{{recipe.title}}</a>
				<br>
			{% endfor %}
		{% endif %}
		{% if comments %}
			<h2> My Comments</h2>
			{% for comment in comments %}
				<b>{{comment.body}}</b> on <a href="{% url 'show_recipe' recipe_slug=comment.recipe.slug %}">{{ comment.recipe.title }}</a>
				<br>
			{% endfor %}
		{% endif %}
	{% else %}
		<h1 class="profileintro">You're not logged in. </h1>
		<a href="{% url 'home' %}">Click here</a> to go back to the indexpage
	{% endif %}
	
{% endblock %}
