<!DOCTYPE html>

{% extends 'foodbookapp/base.html' %}

{% load staticfiles %}

{% block title_block %}
	{% if recipe %}
		{{ recipe.title }}
	{% endif %}
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static "css/recipestyle.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/rateit.css" %}">
{% endblock %}

{% block body_block %}

	{% if recipe %}
        <div id="recID" style="display:none;">{{ recipe.id }}</div> <!-- to update rating -->
		<div id="recipeSlug" style="display:none;">{{ recipe.slug }}</div> <!-- to update rating -->
		
       	<h1 class="recipe-title">{{ recipe.title }}</h1>
        <br>
        <div class="recipe-picture">
		<img src="{{recipe.pictureLink}}">
        </div>
		<br>
        <div class="recipe-stats">
            {% if recipe.submittedBy %}
                Submitted by: {{ recipe.submittedBy}}
            {% endif %}
            Views: {{ recipe.views }}
			<!-- PLACEHOLDER -->
			<br>
				{% if recipe.favourites > 0 %}
					Favourites: {{recipe.favourites}}
				{%else%}
					Favourites: 0
				{% endif %}
			<br>
				{% if recipe.raters > 0 %}
					Rating: {{recipe.score}}
				{%else%}
				<div id="notRated"> Rating: Not yet rated. Why not rate the recipe?</div>
				{% endif %}
        </div>
        <br>

		<br>


        <div></div>
	{% endif %}

<!--
	<br></r>Rate this recipe: <div class="rateit" id="rate"></div>
	<!--<div>
		<span id="rateValue">no rating</span><br>
	</div>

	<script type="text/javascript">
		$("#rate").bind('rated', function (event, value) {
			$('#rateValue').text('You\'ve rated the recipe: ' + value + " out of 5 stars"); 
			var recID = $(document).find("#recID").html();
			var theRecipeSlug = $(document).find("#recipeSlug").html();
			<!-- var data = {"recID":recID,"score":value,"theRecipeSlug":theRecipeSlug}
			$.post('/foodbookapp/update_rating/', {'rec_id': recID}, function(data){
				$(document).find("#notRated").hide() <!-- This whole post is breaking somewhere
			});
		});
		$("#rate").bind('reset', function () { $('#rateValue').text('You reset your rating'); });
	</script>
	{% endblock %}
	</div>
-->

        <br>
		<br>

<div class="recipe-text">
        {% if recipe.recipeText %}
        	Recipe Instructions: {{ recipe.recipeText}}
        {% endif %}
