<!DOCTYPE html>

{% extends 'foodbookapp/base.html' %}

{% load staticfiles %}

{% block title_block %}
	{% if recipe %}
		{{ recipe.title }}
	{% endif %}
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static "css/recipestyle.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/rateit.css" %}">
{% endblock %}

{% block body_block %}
	{% if recipe %}
        <div id="recID" style="display:none;">{{ recipe.id }}</div> <!-- to update rating -->
		<div id="recipeSlug" style="display:none;">{{ recipe.slug }}</div> <!-- to update rating -->
		
       	<h1 class="recipe-title">{{ recipe.title }}</h1>
        <br>
        <div class="recipe-picture">
		<img src="{{recipe.pictureLink}}">
        </div>
		<br>
        <div class="recipe-stats">
            {% if recipe.submittedBy %}
                Submitted by: {{ recipe.submittedBy}}
            {% endif %}
            Views: {{ recipe.views }}
			<!-- PLACEHOLDER -->
			<br>
				{% if recipe.raters > 0 %}
					Rating: {{recipe.score}}
				{%else%}
				<div> Rating: Not yet rated. Why not rate the recipe?</div>
				{% endif %}
        </div>
        <br>
		<br>
        <div></div>
	{% endif %}
       <br>
		<br>

<div class="recipe-text">
        {% if recipe.recipeText %}
        	Recipe Instructions: {{ recipe.recipeText}}
        {% endif %}
</div>


<form id="comment_form" method="post" action=".">
	{% csrf_token %}
	<input type="text" name="comment" value="comment here" height="500" />
	<br />
	<input type="submit" name="com_form" value="post comment" />
</form>

<form id="tag_form" method="post" action=".">
	{% csrf_token %}
	<input type="text" name="tag" value="add a tag" />
	<br />
	<input type="submit" name="tag_form" value="add tag" />
</form>
{% endblock %}
