{% extends 'foodbookapp/base.html' %}
{% load staticfiles %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static "css/loginAndSignupStyle.css" %}">
{% endblock %}


{% block title_block %}
Sign up
{% endblock %}

{% block body_block %}

	{% if registered %}
		Thank you for joining FoodBook! You can now log in.
		<a href="{% url 'home' %}">Return to the main page</a>
        or
        <a href="{% url 'login' %}"> log in here.</a><br />

	{% else %}

	<form class="form-login" role="form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">

	{% for message in messages %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
			Error: {{message}}
		{% endif %}
	{% endfor %}

    <div class = "title">
		Sign up here!
	</div>
	
	{% csrf_token %}
	
	{% for message in messages %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
			Error: {{message}}
		{% endif %}
	{% endfor %}
	
	<label for="inputUsername" class="sr-only">Username</label>
	<input type="text" name="username" id="id_username" class="form-control" placeholder="Username (up to 30 characters, letters, digits and @+-_. only)" required autofocus>
	<label for="inputPassword" class="sr-only">Password</label>
	<input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>

    <br/>

    {{ profile_form.as_p }} <!-- django not bootstrap-->

	<button class="btn btn-lg btn-primary btn-block" type="submit" value="submit" />Sign up</button>
    </form>
	{% endif%}

{% endblock %}
