{% extends 'foodbookapp/base.html' %}
{% load staticfiles %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static "css/loginAndSignupStyle.css" %}">
{% endblock %}


{% block body_block %}
	{% if registered %}
        <div class = "border">
		Thank you for joining FoodBook! You can now log in
		<a href="{% url 'home' %}">Return to the main page.</a><br />
		</div>
	{% else %}
        <div class = "border">
        <div class = "title">
		Sign up here!
        </div>
		<form id="user_form" method="post" action="{% url 'register' %}"
		enctype="multipart/form-data">
		
		{% csrf_token %}
		
		{{ user_form.as_p }}
		{{ profile_form.as_p }}
		
		<input type="submit" name="submit" value="Register" />
		</form>
        <br>
        </div>
	{% endif%}
{% endblock %}
