{% extends 'foodbookapp/base.html' %}
{% load staticfiles %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static "css/loginAndSignupStyle.css" %}">
{% endblock %}

{% block body_block %}
<link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

	{% if registered %}
		Thank you for joining FoodBook! You can now log in.
		<a href="{% url 'home' %}">Return to the main page.</a><br />
	{% else %}
	<form class="form-login" role="form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
	{% csrf_token %}

    <div class = "title">
		Sign up here!
	</div>

	<label for="inputUsername" class="sr-only">Username</label>
	<input type="text" name="username" id="id_username" class="form-control" placeholder="Username (up to 30 characters, letters, digits and @+-_. only)" required autofocus>
	<label for="inputPassword" class="sr-only">Password</label>
	<input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>

    <br/>

    {{ profile_form.as_p }} <!-- django not bootstrap-->

	<button class="btn btn-lg btn-primary btn-block" type="submit" value="submit" />Sign up</button>
    </form>
	{% endif%}

{% endblock %}
