<!DOCTYPE html>

{% extends 'foodbookapp/base.html' %}
{% load foodbookapp_template_tags %}
{% load staticfiles %}

{% block title_block %}
	FoodBook: Search
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static "css/imagestyle.css" %}">
{% endblock %}

{% block body_block %}
	<div>
		<h1>Search by tags with FoodBook</h1>
		<br/>
		<form class="form-inline" id="srch_form" method="get" action="{% url 'tag_search' %}">
			{% csrf_token %}
			<input type="text" name="tag" value="put tag here bro" />
			<button class="btn btn-primary" type="submit" name="submit" value="Search">Search</button>
		</form>
		<div>
			{% if results_list %}
			<h3>Results</h3>
			<!--  Display search results in an ordered list -->
			<div class="list-group">
			{% for result in result_list %}
				<div class="list-group-item">
					<h4 class="list-group-item-heading">
						<a href="{{ result.link }}">{{ result.title }}</a>
					</h4>
					<p class="list-group-iten-text">{{ results.summary }}</p>
				</div>
			{% endfor %}
			</div>
			{% endif %}
		</div>
	</div>
{% endblock %}

