
.title {
    text-align: center;
    margin-top: 40px;
    font-family: 'Lobster', cursive;
    font-decoration: bold;
    font-size: xx-large;
    text-transform: capitalize;
}

.text {
    text-align: center;
    font-style: italic;
}
