/*Should display images nicely in a grid. Needs fixing.*/

div.img {
    margin: 10px;
    border-spacing: 5px;
    float: left;
}
img.thumb{
	width: 180px;
	height:180px;
}

table.img:hover {
    border: 1px solid #777;
}