/*Should display images nicely in a grid. Needs fixing.*/

table.img {
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

table.img:hover {
    border: 1px solid #777;
}

table.img img {
    width: 100%;
    height: auto;
}
