/*Should display images nicely in a grid.*/

.img {
    margin: 6px;
    border-spacing: 5px;
    float: left;
    position: relative;
}
img.thumb{
	width: 180px;
	height:180px;
}

table.img:hover {
    border: 1px solid #777;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #5c8a8a;
}

.img:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Lobster', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
