.profileintro {
    text-transform: capitalize;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.faves {
    padding: 30px 0 0 0;

}

.userpic {
    float: left;
    padding: 40px;
}

.comments {
    float: center;
}
