

.recipe-title {
    text-align: center;
    margin-top: 80px;
    font-family: 'Lobster', cursive;
    font-decoration: bold;
    font-size: xx-large;
    text-transform: capitalize;
}


.recipe-picture {
    margin: auto;
    width: 50%;
}

.recipe-stats {
    text-align: center;
}

.recipe-text {
    text-align: center;
}


