
div.border {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 20px;
}


div.title {
    text-align: center;
    margin-top: 80px;
    font-family: 'Lobster', cursive;
    font-decoration: bold;
    font-size: xx-large;
    text-transform: capitalize;
}


div.picture {
    margin: auto;
    width: 50%;
}


div.stats {
    text-align: center;
    font-decoration: bold;
}

div.text {
}
